.selector-for-some-widget {
  box-sizing: content-box;
}
.navbar{
  border-bottom: 1px solid #191919
}
.btn-primary{
  background-color: #1755B7;
  width: 150;
  margin-bottom: -15px;
  margin-right: 16px;
}
.flex-right{
  display: flex;
  justify-content: flex-end;
}
.search{
  width: 300;
  background-color:  #E3E3E3;
  margin-bottom: -15px;
}
.navbar{
  padding-bottom:  24px;
}
